# Ignore build and install directories
/build/
/install/
/log/

# Ignore colcon workspace files
.colcon/
colcon.meta

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore CMake build files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake
*.swp

# Ignore other temporary files
*.bak
*.tmp
*.swp
*.swo
*.DS_Store

# Ignore vscode files
.vscode/