[submodule "pitot_logger"]
	path = pitot_logger
	url = https://github.com/polimi-saslab/pitot_logger.git
[submodule "px4_msgs"]
	path = px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "sllidar_ros2"]
	path = sllidar_ros2
	url = https://github.com/Slamtec/sllidar_ros2.git
[submodule "rplidar_ros2"]
	path = rplidar_ros2
	url = https://github.com/polimi-saslab/rplidar_ros2
[submodule "rplidar_ros"]
	path = rplidar_ros
	url = https://github.com/Slamtec/rplidar_ros.git
[submodule "px4_ros_bridge"]
	path = px4_ros_bridge
	url = https://github.com/polimi-saslab/px4_ros_bridge.git
[submodule "gbeam"]
	path = gbeam
	url = https://github.com/polimi-saslab/gbeam.git
[submodule "lame-follower"]
	path = lame-follower
	url = https://github.com/polimi-saslab/lame-follower.git
[submodule "airborne-wind-gp-mpc"]
	path = airborne-wind-gp-mpc
	url = ./airborne-wind-gp-mpc/
