[Unit]
Description=Radio Bridge PPPD
After=network.target
Wants=network.target
ConditionPathExists=/dev/USB_UART_1

[Service]
ExecStart=/usr/sbin/pppd -detach nocrtscts lock noauth passive persist holdoff 3 maxfail 0 local 10.0.0.1:10.0.0.2 /dev/USB_UART_1 57600
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target